---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Welcome</h1>
		<p>
			I’m Ram, 30, personal finance sicko, dreamer. I dabble in productivity, minimalism, and web development.
		<br>
		<br>
			If you somehow ended up on this tiny web space, I’d like to assume you’re a fellow PF geek or just really bored. In either case, welcome.
		<br>
		<br>
			This blog was inspired by people who regularly track their net worth online. I thought I could also document mine for accountability, personal progress, and fun. I believe that if you want to improve something, tracking helps.
		<br>
		<br>
			And that is the main why: to document my journey to my first million (and beyond).
		<br>
		<br>
			Also, I want this blog to be a journal of my musings. I'm no expert though, in finance or in life. Read at your own risk.
		<br>
		<br>
			Only rule: anything goes. 
		<br>
		<br>
			Cheers xx
		</p>

		<!-- <div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
			/>
		</div> -->
		
	</div>
</PageLayout>
