---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { sortMDByDate } from "@/utils";

const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts);
---

<PageLayout meta={{ title: "Archives" }}>
	<!-- <section>
		<h1 class="title mb-6">zzz</h1>
		<p class="mb-4">
			Ey I’m Ram.
			<br>
			Look at you wandering in this tiny web zone.
			<br>
			<br>
			This blog is an outlet for my musings.
			<br>
			<br>
			I'm no writer nor a life expert. 
			I just write to express, throwing out random thoughts to the world.
			Perfect as reminders, and means for reminiscing and reflection.
			For	myself.
			<br>
			<br>
			Or maybe..
			..my words will ignite a spark within someone's soul.
			<br>
			<br>
			Well, welcome.
		</p>
		<SocialList />
	</section> -->

	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Archives</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	
</PageLayout>
